<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/acq-testcase-header :: acq-testcase-header"></header>

<div class="container mt-5">

    <h1 th:text="${testCaseName}"/><br>

    <div th:each="el : ${testCase}" class="bg-light p-5 rounded mt-2">
        <h3 th:text="${el.transactionName}"/><br>
<!--        <textarea name="jsonBody" class="form-control" th:text="${el.jsonBody}" readonly="true" rows="50"/><br>-->
<!--        <textarea name="hexBody" class="form-control" th:text="${el.hexBody}" readonly="true" rows="15"/>-->

        <div>
            <br>
            <form th:action="'/acq/testcase/' + ${autotestID} + '/epay/' + ${el.id} + '/remove'" method="post">
                <p class="float-end mb-1">
                    <button class="btn btn-outline-danger" type="submit">Remove</button>
                </p>
            </form>
            <form th:action="'/acq/testcase/' + ${autotestID} + '/epay/' + ${el.id} + '/details'">
                <p class="float-end mb-1">
                    <button class="btn btn-outline-primary">Details</button>
                </p>
            </form>
            <form th:action="'/acq/testcase/' + ${autotestID} + '/epay/' + ${el.id} + '/resend'" method="post">
                <p class="float-end mb-1">
                    <button class="btn btn-outline-success" type="submit">Resend</button>
                </p>
            </form>
        </div>
    </div>
</div>
<br><br>
<!--<div class="container">-->
<!--    <form th:action="'/acq/testcase/' + ${id} + '/del-all'" method="post">-->
<!--        <p class="float-end mb-1">-->
<!--            <button class="btn btn-outline-danger" type="submit">Clear all</button>-->
<!--        </p>-->
<!--    </form>-->
<!--</div>-->
<div class="container" id="runTestDiv">
    <form th:action="'/acq/testcase/' + ${id} + '/run'" method="post">
        <p class="float-end mb-1">
            <button class="btn btn-outline-success" id="runBtn" type="submit">Run</button>
        </p>
    </form>
    <form th:action="'/acq/testcase/' + ${id} + '/updateAllStan'" method="post">
        <p class="float-end mb-1">
            <button class="btn btn-outline-success" id="updateBtn" type="submit">Update all stan</button>
        </p>
    </form>
    <form th:action="'/acq/testcase/' + ${id} + '/getallnwint'" method="post">
        <p class="float-end mb-1">
            <button class="btn btn-outline-success" id="getNwintBtn" type="submit">GetNwint</button>
        </p>
    </form>
</div>
<div th:insert="blocks/footer :: acq-footer"></div>
</body>
</html>