<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/acq-testcase-header :: acq-testcase-header"></header>

<div class="container mt-5">
    <div th:each="el : ${epay}" class="bg-light p-5 rounded mt-2">
        <h3 th:text="${el.transactionName}"/><br>
        <div class="row">
            <div class="col">
                <textarea name="jsonBody" class="form-control" th:text="${el.jsonBody}" readonly="true" rows="50"/>
            </div>
            <div class="col" th:if="${el.nwintJsonBody}">
                <textarea name="nwintJsonBody" class="form-control" th:text="${el.nwintJsonBody}" readonly="true" rows="50"/>
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <textarea name="hexBody" class="form-control" th:text="${el.hexBody}" readonly="true" rows="15"/>
            </div>
            <div class="col" th:if="${el.nwintHexBody}">
                <textarea name="nwintHexBody" class="form-control" th:text="${el.nwintHexBody}" readonly="true" rows="15"/>
            </div>
        </div><br>

<!--        <textarea name="jsonBody" class="form-control" th:text="${el.jsonBody}" readonly="true" rows="50"/><br>-->
<!--        <textarea name="hexBody" class="form-control" th:text="${el.hexBody}" readonly="true" rows="15"/>-->
<!--        <textarea th:if="${el.nwintHexBody}" name="nwintHexBody" class="form-control" th:text="${el.nwintHexBody}" readonly="true" rows="15"/>-->
<!--        <textarea th:if="${el.nwintJsonBody}" name="nwintJsonBody" class="form-control" th:text="${el.nwintJsonBody}" readonly="true" rows="15"/>-->


        <div>
            <br>
            <form th:action="'/acq/testcase/' + ${autotestID} + '/epay/' + ${el.id} + '/remove'" method="post">
                <p class="float-end mb-1">
                    <button class="btn btn-outline-danger" type="submit">Remove</button>
                </p>
            </form>
            <form th:action="'/acq/testcase/' + ${autotestID} + '/epay/' + ${el.id} + '/edit'">
                <p class="float-end mb-1">
                    <button class="btn btn-outline-primary">Edit</button>
                </p>
            </form>
            <form th:action="'/acq/testcase/' + ${autotestID} + '/epay/' + ${el.id} + '/resend'" method="post">
                <p class="float-end mb-1">
                    <button class="btn btn-outline-success" type="submit">Resend</button>
                </p>
            </form>
            <form th:action="'/acq/testcase/' + ${autotestID} + '/epay/' + ${el.id} + '/generateStan'" method="post">
                <p class="float-end mb-1">
                    <button class="btn btn-outline-success" type="submit">Update stan</button>
                </p>
            </form>
            <form th:action="'/acq/testcase/' + ${autotestID} + '/epay/' + ${el.id} + '/generateNwint'" method="post">
                <p class="float-end mb-1">
                    <button class="btn btn-outline-success" type="submit">Generate nwint</button>
                </p>
            </form>
        </div>


    </div>
</div>
<div th:insert="blocks/footer :: epay-footer"></div>
</body>
</html>