<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Epays List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/acq-autotests-header :: acq-header"></header>


<div class="container mt-5">
    <h1>Test case list</h1>
    <div th:each="el : ${autotest}" class="bg-light p-5 rounded mt-2">
        <h3 th:text="${el.testCaseName}"/>
        <div>
            <br>
            <form th:action="'/acq/autotests/' + ${el.id} + '/remove'" method="post">
                <p class="float-end mb-1">
                    <button class="btn btn-outline-danger" type="submit">Remove</button>
                </p>
            </form>
<!--            <form th:action="'/acq/testcase/' + ${el.id} + '/list'">-->
<!--                <p class="float-end mb-1">-->
<!--                    <button class="btn btn-outline-primary">Details</button>-->
<!--                </p>-->
<!--            </form>-->
<!--            <form th:action="'/acq/autotests/' + ${el.id} + '/resend'" method="post">-->
<!--                <p class="float-end mb-1">-->
<!--                    <button class="btn btn-outline-primary" type="submit">Pusk</button>-->
<!--                </p>-->
<!--            </form>-->
        </div>
        <a th:href="'/acq/testcase/' + ${el.id} + '/list'" class="btn btn-outline-primary">More details</a>
    </div>
</div>
<br><br>
<!--<div class="container">-->
<!--    <form th:action="'/acq/autotests/del-all'" method="post">-->
<!--        <p class="float-end mb-1">-->
<!--            <button class="btn btn-outline-danger" type="submit">Clear all</button>-->
<!--        </p>-->
<!--    </form>-->
<!--</div>-->

<div th:insert="blocks/footer :: acq-footer"></div>
</body>
</html>