<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Import package</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/acq-testcase-header :: acq-testcase-header"></header>

<div class="container mt-5 mb-5">
    <h1>Import package</h1><br>
    <form class="row g-3 needs-validation" novalidate="" th:action="'/acq/testcase/'+ ${autotestID} +'/import'" method="post">
        <div>
            <input type="text" th:value="${transactionName}" name="name" placeholder="name" class="form-control" id="name" required="">
            <div class="invalid-feedback">
                Please provide name
            </div>
            <br>
        </div>
        <div>
            <textarea th:text="${hexBody}" name="hexBody" placeholder="hex" class="form-control" id="hexBody" rows="15" required=""></textarea>
            <div class="invalid-feedback">
                Please provide hex
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-success">Import package</button>
        </div>
    </form>
</div>

<div th:insert="blocks/footer :: epay-footer"></div>
</body>
</html>