<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adding a package</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/acq-testcase-header :: acq-testcase-header"></header>

<div class="container mt-5 mb-5">
    <h1>Adding a package</h1><br>
    <form class="row g-3 needs-validation" novalidate="" th:action="'/acq/testcase/'+ ${autotestID} +'/add'" method="post">
        <div>
            <input type="text" th:value="${transactionName}" name="name" placeholder="name" class="form-control" id="name" required="">
            <div class="invalid-feedback">
                Please provide name
            </div>
            <br>
        </div>
        <div>
            <textarea th:text="${jsonBody}" name="jsonBody" placeholder="json" class="form-control" id="jsonBody" rows="15" required=""></textarea>
            <div class="invalid-feedback">
                Please provide json
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-success">Add package</button>
        </div>
    </form>
</div>

<div th:insert="blocks/footer :: epay-footer"></div>
</body>
</html>