<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>E-mail builder</title>
    <meta http-equiv="Content-Type" content="application/json"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: epay-header"></header>

<div class="container mt-5 mb-5">
    <h1>E-mail builder</h1><br>
    <form class="row g-3 needs-validation" novalidate="" id="emailform" onsubmit="submitForm(event)" action="/email/sender">
        <div>
            <input type="text" th:value="${mailFields.issuerBin}" name="issuerBin" placeholder="issuerBin"
                   class="form-control" id="issuerBin" required="" pattern="[0-9]{6}" title="input first 6 digits of the card">
            <div class="invalid-feedback">
                Please provide issuerBin
            </div>
            <br>
            <input type="text" th:value="${mailFields.respcode}" name="respcode" placeholder="respcode"
                   class="form-control" id="respcode" required="" pattern="[0-9]{2,}" title="input RC">
            <div class="invalid-feedback">
                Please provide respcode
            </div>
            <br>
            <input type="text" th:value="${mailFields.senderDetails}" name="senderDetails" placeholder="senderDetails"
                   class="form-control" id="senderDetails" required="" pattern="^[A-Za-z0-9+_.-]+@(.+)$" title="input your e-mail">
            <div class="invalid-feedback">
                Please provide senderDetails
            </div>
            <br>
            <input type="text" th:value="${mailFields.issuerDetails}" name="issuerDetails" placeholder="issuerDetails"
                   class="form-control" id="issuerDetails" required="" title="input the issuer's email, one or more">
            <div class="invalid-feedback">
                Please provide issuerDetails
            </div>
            <br>
            <input type="text" th:value="${mailFields.footer}" name="footer" placeholder="footer" class="form-control"
                   id="footer" required="" pattern="^[A-Za-z\s]*$" title="input your name for footer">
            <div class="invalid-feedback">
                Please provide footer
            </div>
            <br>
        </div>

        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="submit" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="previewBtn">
                        Preview mail
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body" id="responseMessage" th:text="${responseMessage}"></div>
                </div>
            </div>
        </div>


        <div id="sendMailDiv">
            <button type="submit" class="btn btn-success" id="sendBtn">Send</button>
            <br><br>
        </div>
    </form>




</div>

<div th:insert="blocks/footer :: mail-footer"></div>
</body>
</html>

