<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Import package</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<header th:insert="blocks/header :: epay-header"></header>-->

<!--<div class="container mt-5 mb-5">-->
<!--    <h1>Import package</h1><br>-->
<!--    <form class="row g-3 needs-validation" novalidate="" th:action="'/epay/' + ${id} + '/importNwint'" method="post">-->
<!--        <div>-->
<!--            <textarea th:text="${hexBody}" name="hexBody" placeholder="stan" class="form-control" id="hexBody" rows="15" required=""></textarea>-->
<!--            <div class="invalid-feedback">-->
<!--                Please provide hex-->
<!--            </div>-->
<!--        </div>-->

<!--        <div>-->
<!--            <button type="submit" class="btn btn-success">Import package</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--<div th:insert="blocks/footer :: epay-footer"></div>-->
<!--</body>-->
<!--</html>-->