<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Epays List</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<header th:insert="blocks/header :: epay-header"></header>-->


<!--<div class="container mt-5">-->
<!--    <h1>Epays List</h1>-->
<!--    <div th:each="el : ${epays}" class="bg-light p-5 rounded mt-2">-->
<!--        <h3 th:text="${el.name}"/>-->
<!--&lt;!&ndash;        <p th:text="${el.description}"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <a th:href="'/epay/' + ${el.id}" class="btn btn-outline-primary">More details</a>&ndash;&gt;-->
<!--        <div>-->
<!--            <br>-->
<!--            <form th:action="'/epay/' + ${el.id} + '/remove'" method="post">-->
<!--                <p class="float-end mb-1">-->
<!--                    <button class="btn btn-outline-danger" type="submit">Remove</button>-->
<!--                </p>-->
<!--            </form>-->
<!--            <form th:action="'/epay/' + ${el.id}">-->
<!--                <p class="float-end mb-1">-->
<!--                    <button class="btn btn-outline-primary">Details</button>-->
<!--                </p>-->
<!--            </form>-->
<!--            <form th:action="'/epay/' + ${el.id} + '/resend'" method="post">-->
<!--                <p class="float-end mb-1">-->
<!--                    <button class="btn btn-outline-success" type="submit">Resend</button>-->
<!--                </p>-->
<!--            </form>-->
<!--        </div>-->

<!--    </div>-->

<!--</div>-->
<!--<br><br>-->
<!--<div class="container">-->
<!--    <form th:action="'/epay/list/del-all'" method="post">-->
<!--        <p class="float-end mb-1">-->
<!--            <button class="btn btn-outline-danger" type="submit">Clear all</button>-->
<!--        </p>-->
<!--    </form>-->
<!--</div>-->

<!--<div th:insert="blocks/footer :: epay-footer"></div>-->
<!--</body>-->
<!--</html>-->