<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Modify</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<header th:insert="blocks/header :: epay-header"></header>-->

<!--<div class="container mt-5 mb-5">-->
<!--    <h1>Modify</h1>-->
<!--    <div th:each="el : ${epay}">-->
<!--        <form class="row g-3 needs-validation" novalidate="" method="post">-->
<!--            <div>-->
<!--                <input type="text" th:value="${el.name}" name="name" placeholder="name" class="form-control" id="validationCustom01" required="">-->
<!--                <div class="invalid-feedback">-->
<!--                    Please provide name-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div>-->
<!--                <textarea name="jsonBody" placeholder="json" class="form-control" id="validationCustom02" th:text="${el.jsonBody}" rows="40" required=""/>-->
<!--                <div class="invalid-feedback">-->
<!--                    Please provide json-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div>-->
<!--                <button type="submit" class="btn btn-outline-success">Update</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

<!--&lt;!&ndash;    <div id="liveAlertPlaceholder"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <button type="button" class="btn btn-primary" id="liveAlertBtn">Show live alert</button>&ndash;&gt;-->

<!--</div>-->
<!--<div th:insert="blocks/footer :: epay-footer"></div>-->
<!--</body>-->
<!--</html>-->