<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Getepay</title>
</head>
<body>
<div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light">STATUS 200</h1>
    <textarea name="body" class="form-control" th:text="${body}" readonly="true" rows="50"/>
</div>
</body>
</html>