<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body>
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Epay Constructor</h1><br>
                <p>
                    <a href="/acq/autotests/list" class="btn btn-primary my-2">Acquiring autotests</a>
                </p>
                <div th:if="${senderStatus == 'enable'}">
                    <p>
                        <a href="/email/builder" class="btn btn-primary my-2">Email Sender</a>
                    </p>
                </div>
                <div th:unless="${senderStatus == 'enable'}">
                </div>
            </div>
        </div>
    </section>


</main>

</body>
</html>