
<div th:fragment="epay-header">

    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Constructor</a>
            </div>
<!--        </nav>-->
<!--        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">-->
<!--            <ul class="nav justify-content-end">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/epay/list">List</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/epay/add">Add Epay</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/epay/import">Import Epay</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
    </div>

    <div th:if="${errorMessage}" id="liveAlertPlaceholder" th:name="${errorMessage}"></div>
</div>
